@charset "utf-8";
/* ----------------------------------------
	H2 HEADING

	RESPONSIVE COLUMN

	IRREGULARITY RESPONSIVE COLUMN

	IRREGULARITY SOLID RESPONSIVE COLUMN
---------------------------------------- */
/* ----------------------------------------
	リセット
---------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
}

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

ul,
ol {
	list-style: none;
}

img {
	font-size: 0;
	line-height: 0;
	vertical-align: bottom;
}

・blockquote, q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

abbr[title],
dfn[title] {
	border-bottom: 1px dotted;
	cursor: pointer;
}

hr {
	margin: 16px 0;
	border: none;
	border-top: 1px dotted #999;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption, th {
	text-align: left;
}

caption {
	display: none;
}

input,
select,
textarea {
	font-size: 100%;
	color: #727272;
	vertical-align: middle;
}

legend {
	display: none;
}

/* ----------------------------------------
 CLEAR FIX
---------------------------------------- */
#global-header, #global-nav ul, #breadcrumb-nav ul, .col-res .col-res-inner, .irregularity-col-res .col-res-inner {
	zoom: 1;
}

#global-header:after, #global-nav ul:after, #breadcrumb-nav ul:after, .col-res .col-res-inner:after, .irregularity-col-res .col-res-inner:after {
	content: "";
	display: block;
	clear: both;
}

/* ----------------------------------------
	WEB FONTS
---------------------------------------- */
@font-face{
	font-family: 'DigitaldreamFatNarrowRegular';
	src: url("fonts/DIGITALDREAMFATNARROW-webfont.eot");
	src: url("fonts/DIGITALDREAMFATNARROW-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/DIGITALDREAMFATNARROW-webfont.woff") format("woff"), url("fonts/DIGITALDREAMFATNARROW-webfont.ttf") format("truetype"), url("fonts/DIGITALDREAMFATNARROW-webfont.svg#DigitaldreamFatNarrowRegular") format("svg");
	font-weight: normal;
	font-style: normal;
}

/* ----------------------------------------
	基本スタイル
---------------------------------------- */
body {
	background: #e9e9e9;
	/* IE10 Consumer Preview */
	background-image: -ms-radial-gradient(center top, ellipse farthest-corner, white 0%, #e6e6e6 50%, #dddddd 100%);
	/* Mozilla Firefox */
	background-image: -moz-radial-gradient(center top, ellipse farthest-corner, white 0%, #e6e6e6 50%, #dddddd 100%);
	/* Opera */
	background-image: -o-radial-gradient(center top, ellipse farthest-corner, white 0%, #e6e6e6 50%, #dddddd 100%);
	/* Webkit (Safari/Chrome 10) */
	background-image: -webkit-gradient(radial, center top, 0, center top, 553, color-stop(0, white), color-stop(0.5, #e6e6e6), color-stop(1, #dddddd));
	/* Webkit (Chrome 11+) */
	background-image: -webkit-radial-gradient(center top, ellipse farthest-corner, white 0%, #e6e6e6 50%, #dddddd 100%);
	/* W3C Markup, IE10 Release Preview */
	background-image: radial-gradient(ellipse farthest-corner at center top, #ffffff 0%, #e6e6e6 50%, #dddddd 100%);
	font-family: serif;
	font-size: 14px;
	color: #727272;
	line-height: 1;
	-webkit-font-kerning: normal;
	-moz-font-kerning: normal;
	-ms-font-kerning: normal;
	-o-font-kerning: normal;
	font-kerning: normal;
}

/* FONT-SIZE LIST (base: 14px)
 8px = 0.571em
 9px = 0.643em
10px = 0.714em
11px = 0.786em
12px = 0.857em
13px = 0.929em
14px =		 1em
15px = 1.071em
16px = 1.143em
17px = 1.214em
18px = 1.286em
19px = 1.357em
20px = 1.429em
21px =	 1.5em
22px = 1.571em
23px = 1.643em
24px = 1.714em
25px = 1.786em
26px = 1.857em
27px = 1.929em
28px =		 2em
29px = 2.071em
30px = 2.143em
31px = 2.214em
32px = 2.286em
33px = 2.357em
34px = 2.429em
35px =	 2.5em
36px = 2.571em
37px = 2.643em
38px = 2.714em
39px = 2.786em
40px = 2.857em
*/
h1 {
	font-size: 0.786em;
	letter-spacing: 0.1em;
}

h2 {
	font-family: 'DigitaldreamFatNarrowRegular', Arial, sans-serif;
	font-size: 2em;
	font-weight: normal;
	color: #222222;
	letter-spacing: 0.1em;
}

h3 {
	font-family: 'DigitaldreamFatNarrowRegular', Arial, sans-serif;
	font-size: 1.286em;
	font-weight: normal;
	color: #222222;
	letter-spacing: 0.1em;
}

h4 {
	font-family: 'DigitaldreamFatNarrowRegular', Arial, sans-serif;
	font-size: 1em;
	font-weight: normal;
	color: #222222;
}

h5 {
	font-family: 'DigitaldreamFatNarrowRegular', Arial, sans-serif;
	font-size: 1em;
	font-weight: normal;
	color: #222222;
}

h6 {
	font-family: 'DigitaldreamFatNarrowRegular', Arial, sans-serif;
	font-size: 1em;
	font-weight: normal;
	color: #222222;
}

a {
	color: #727272;
	text-decoration: none;
}

a:visited {
	color: #727272;
}

a:hover {
	color: #727272;
	text-decoration: underline;
}

a:active {
	color: #727272;
}

/* ----------------------------------------
 共通レイアウト
---------------------------------------- */
/*
 global-header
---------------------------------------- */
#global-header {
	position: relative;
	max-width: 960px;
	margin: 0 auto;
	padding-bottom: 32px;
}

#global-header .siteTitle {
	float: left;
	margin: 32px 0 8px 0;
	font-size: 2.571em;
	font-weight: normal;
	letter-spacing: 0.05em;
}

#global-header .siteTitle a {
	font-family: 'DigitaldreamFatNarrowRegular', Arial, sans-serif;
	color: #222222;
}

/*
 siteLead
---------------------------------------- */
#siteLead {
	position: absolute;
	top: 5px;
}

/*
 btn-menu
---------------------------------------- */
#btn-menu {
	display: none;
	position: absolute;
	top: 8px;
	right: 8px;
}

/*
 global-nav
---------------------------------------- */
#global-nav {
	position: absolute;
	top: 54px;
	right: 0;
	overflow: hidden;
	font-family: 'DigitaldreamFatNarrowRegular', Arial, sans-serif;
}

#global-nav li {
	float: left;
	padding-left: 32px;
	letter-spacing: 0.2em;
}

#global-nav a {
	color: #222222;
}

/*
 breadcrumb-nav
---------------------------------------- */
#breadcrumb-nav {
	clear: left;
	padding: 8px 16px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	background: #111111;
	color: #fff;
}

#breadcrumb-nav ul li {
	float: left;
	padding-right: 8px;
	font-size: 0.786em;
	letter-spacing: 0.2em;
}

#breadcrumb-nav ul a {
	color: #fff;
}

/*
 global-footer
---------------------------------------- */
#global-footer {
	position: relative;
	margin-top: 64px;
	background: #111;
}

#global-footer .copyright {
	padding: 16px;
	font-size: 0.786em;
	color: #fff;
	text-align: center;
}

#global-footer .totop {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	background: #F20;
}

/*
 機能
---------------------------------------- */
#global-nav.open {
	height: 200px;
}

/*
 メディアクエリ
---------------------------------------- */
@media only screen and (max-width: 959px){
  #global-header .siteTitle {
	margin-left: 16px;
}

  #global-header #global-nav {
	right: 16px;
}

  #global-header #breadcrumb-nav {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
}
}
@media only screen and (max-width: 767px){
  #global-header {
	margin-bottom: 32px;
	padding-bottom: 0;
	background: #c59a0f;
}

  #global-header .siteTitle {
	margin-top: 8px;
	margin-bottom: 32px;
	margin-left: 8px;
	margin-right: 58px;
	font-size: 2em;
}

  #btn-menu {
	display: block;
}

  #breadcrumb-nav {
	display: none;
}

  #global-nav {
	-webkit-transition: height ease-in 0.2s;
	-moz-transition: height ease-in 0.2s;
	-o-transition: height ease-in 0.2s;
	transition: height ease-in 0.2s;
	position: static;
	width: 100%;
	height: 0;
}

  #global-nav li {
	float: none;
	padding-left: 0;
	text-align: center;
}

  #global-nav li a {
	display: block;
	color: #fff;
	padding: 17px 8px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #1e1e1e;
	background: #111;
	background: #1e1e1e;
	background: -webkit-linear-gradient(top, #1e1e1e, #191919);
	background: -moz-linear-gradient(top, #1e1e1e, #191919);
	background: -ms-linear-gradient(top, #1e1e1e, #191919);
	background: linear-gradient(to bottom, #1e1e1e, #191919);
}

  #global-nav li a:hover {
	opacity: 0.9;
}
}
/* ----------------------------------------
	ページ固有スタイル
---------------------------------------- */
/*
 GENERAL STYLE
---------------------------------------- */
#siteLead {
	right: 0;
}

#contents {
	max-width: 960px;
	margin: 0 auto;
}

/*
 H2 HEADING
---------------------------------------- */
h2 {
	margin-bottom: 6px;
	text-align: center;
}

h2 + p {
	margin-bottom: 32px;
	font-size: 0.786em;
	font-weight: bold;
	text-align: center;
	letter-spacing: 0.1em;
}

/* H2 HEADINGここまで */
/*
 RESPONSIVE COLUMN
---------------------------------------- */
/* 基本 */
.col-res {
	overflow: hidden;
}

.col-res .col-res-inner {
	margin-right: -32px;
}

.col-res .col-res-unit {
	float: left;
	width: 25%;
	height: auto;
}

.col-res .col-res-unit-inner {
	margin-right: 32px;
	/* 表示確認用 */
	height: 48px;
	margin-bottom: 16px;
	background: #111;
	/* 表示確認用ここまで */
}

/* メディアクエリ */
@media only screen and (max-width: 959px){
  .col-res {
	padding-left: 16px;
	padding-right: 16px;
}
}
@media only screen and (max-width: 767px){
  .col-res {
	padding-left: 8px;
	padding-right: 8px;
}

  .col-res .col-res-inner {
	margin-right: -16px;
}

  .col-res .col-res-unit {
	width: 50%;
}

  .col-res .col-res-unit-inner {
	margin-right: 16px;
}
}
@media only screen and (max-width: 479px){
  .col-res .col-res-unit {
	float: none;
	width: 100%;
}
}
/* RESPONSIVE COLUMNここまで */
/*
 IRREGULARITY RESPONSIVE COLUMN
---------------------------------------- */
/* 基本 */
.irregularity-col-res {
	overflow: hidden;
}

.irregularity-col-res .col-res-inner {
	margin-right: -32px;
}

.irregularity-col-res .col-res-unit {
	float: left;
	width: 75%;
	height: auto;
}

.irregularity-col-res .col-res-unit:nth-child(even) {
	float: left;
	width: 25%;
	height: auto;
}

.irregularity-col-res .col-res-unit-inner {
	margin-right: 32px;
	/* 表示確認用 */
	height: 48px;
	margin-bottom: 16px;
	background: #111;
	/* 表示確認用ここまで */
}

/* メディアクエリ */
@media only screen and (max-width: 959px){
  .irregularity-col-res {
	padding-left: 16px;
	padding-right: 16px;
}
}
@media only screen and (max-width: 767px){
  .irregularity-col-res {
	padding-left: 8px;
	padding-right: 8px;
}

  .irregularity-col-res .col-res-inner {
	margin-right: -16px;
}

  .irregularity-col-res .col-res-unit {
	width: 50%;
}

  .irregularity-col-res .col-res-unit:nth-child(even) {
	width: 50%;
}

  .irregularity-col-res .col-res-unit-inner {
	margin-right: 16px;
}
}
@media only screen and (max-width: 479px){
  .irregularity-col-res .col-res-unit {
	float: none;
	width: 100%;
}

  .irregularity-col-res .col-res-unit:nth-child(even) {
	float: none;
	width: 100%;
}
}
/* IRREGULARITY RESPONSIVE COLUMNここまで */
/*
 SOLID RESPONSIVE COLUMN
---------------------------------------- */
/* 基本 */
.solid-col-res {
	overflow: hidden;
	/* 表示確認用 */
	/* 表示確認用ここまで */
}

.solid-col-res .solid-col-res-inner {
	position: relative;
}

.solid-col-res .liquid-col {
	width: 100%;
}

.solid-col-res .liquid-col .liquid-col-inner {
	margin-right: 248px;
}

.solid-col-res .solid-col {
	position: absolute;
	top: 0;
	right: 0;
	width: 216px;
}

.solid-col-res .liquid-col-inner,
.solid-col-res .solid-col {
	height: 48px;
	margin-bottom: 16px;
	background: #111;
}

/* メディアクエリ */
@media only screen and (max-width: 959px){
  .solid-col-res {
	padding-left: 16px;
	padding-right: 16px;
}
}
@media only screen and (max-width: 767px){
  .solid-col-res {
	padding-left: 8px;
	padding-right: 8px;
}

  .solid-col-res .liquid-col .liquid-col-inner {
	margin-right: 0;
}

  .solid-col-res .solid-col {
	position: relative;
	width: 100%;
}
}
/* SOLID RESPONSIVE COLUMNここまで */
