@charset "utf-8";

//----------------------------------------
//	COMPASS
//----------------------------------------
@import "compass/css3";

//----------------------------------------
//	設定
//----------------------------------------
@import "common/setting";

//----------------------------------------
//	リセット
//----------------------------------------
@import "common/reset";

//----------------------------------------
//	MIXIN
//----------------------------------------
@import "common/mixin";

//----------------------------------------
//	EXTEND
//----------------------------------------
@import "common/extend";

//----------------------------------------
//	基本スタイル
//----------------------------------------
@import "common/style";

//----------------------------------------
//	共通レイアウト
//----------------------------------------
@import "common/layout";

/* ----------------------------------------
	ページ固有スタイル
---------------------------------------- */

/*
 GENERAL STYLE
---------------------------------------- */
h2 {
  margin-bottom: $baseSpaceS * 0.75;
  font-size: 2em; // 28px
  text-align: center;
  & + p {
    margin-bottom: $baseSpaceL;
    font-size: 0.786em; // 11px
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.1em;
  }
}

/*

---------------------------------------- */


/*
 メディアクエリ
---------------------------------------- */
@include widthQuery(max-width, 959px) {
}

@include widthQuery(max-width, 767px) {
}