@charset "utf-8";

//----------------------------------------
// EXTEND
//
// CLEAR FIX
//
//
// COLUMN MODULE
//
// GENERAL CLASSES
//----------------------------------------

/* ----------------------------------------
 CLEAR FIX
---------------------------------------- */
%cf {
  zoom: 1;
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

// ----------------------------------------
// GENERAL CLASSES
// ----------------------------------------
%fwB {
  font-weight: bold;
}

%fcBk {
  color: $strongFontColor;
}
